/*
Author: Chase Durbin
Date: 03-16-2023
File name: style.class
*/

/* ----CSS Reset---- */
body,
header,
nav,
main,
footer,
h1,
div,
img,
ul {
    margin: 0;
    padding: 0;
    border: 0;
}


/* ----Body Style Rules---- */
body {
    background-color: #363636;
}


/* ----Header Style Rules----*/
header {
    position: sticky;
    top: 0;
    background-color: #000;
}

img {
    max-width: 100%;
    display: block;
}


/* ----Nav Style Rules---- */
nav {
    padding: 1%;
    padding-top: 0;
    margin-bottom: 1%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    font-size: 1.5em;
    border-top: 2px solid black;
    font-family: 'Anton', sans-serif;
    font-style: italic;
}

nav li a {
    display: block;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
}

nav li:last-child {
    border-bottom: 2px solid black;
}

/* ----Show Mobile Class, hide others---- */
.mobile {
    display: block;
}

.tab-desk {
    display: none;
}

/* ----Main Content Style Rules---- */
main {
    padding: 1% 4% 1% 4%;
    text-align: center;
    font-size: 1.15em;
    color: white;
    font-family: 'Sono', sans-serif;
}

.textborder {
    border: 2px solid black;
    padding: 5%;
}

.divborder {
    border: 2px solid black;
    padding: 5%;
    margin: 5% 0% 5% 0%;
}

main h3 {
    border: 2px solid black;
    padding: 5%;
    color: #006A4E;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 2px 2px 1px black;
}

main h4 {
    padding: 5%;
    color: #006A4E;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 2px 2px 1px black;
}

main a {
    text-decoration: none;
}

main h1 {
    padding: 5%;
    font-family: 'Anton', sans-serif;
    font-weight: 300;
    font-style: italic;
}

#labPic {
    width: 89%;
    border: 2px solid black;
    padding: 5%;
}

#loc {
    font-weight: bolder;
    font-size: 1.3em;
}

#discord {
    padding-top: 0;
}

#contacth1 {
    font-family: 'Sono', sans-serif;
    font-style: normal;
    font-weight: bold;
    padding-bottom: 0;
}

#promo {
    width: 840px;
    height: 472px;
    margin: 0 auto;
}

#promocontainer {
    text-align: center;
}

.rounded {
    border-radius: 12px;
}

.mail-link {
    text-decoration: none;
    color: #006A4E;
    display: block;
}

.mail-link a {
    text-decoration: none;
    color: #fff;
    display: block;
}

/* ----Footer Style Rules---- */
footer p {
    border-top: 1px solid black;
    font-size: 0.5em;
    color: #FAF9F6;
    text-align: center;
    padding: 5px 1em;
    font-family: 'Sono', sans-serif;
}


@media screen and (min-width: 900px),
print {
    .tab-desk {
        display: block;
    }

    .mobile {
        display: none;
    }

    header {
        float: left;
        position: relative;
        width: 68%;
        margin-bottom: 10%;
    }

    nav {
        float: right;
        width: 25%;
        margin: 0.5em 3em 0 0;
        padding-right: 0;
        font-size: 1.3em;
    }

    nav ul {
        text-align: right;
    }

    nav li {
        border: none;
        display: inline-block;
    }

    nav li:last-child {
        border: none;
    }

    nav li a:hover {
        text-decoration: underline;
    }

    main {
        clear: left;
        font-size: 2em;
    }

    .divborder {
        border: none;
    }

    /* more info page, three column layout */
    #sports,
    #club,
    #events {
        width: 27%;
        float: left;
        margin: 0 2%;
        padding: 0 1% 5% 1%;
    }

    #hook {
        clear: left;
        font-size: 1.2em;
    }

    .list {
        font-size: 0.7em;
    }

    footer p {
        font-size: 0.75em;
        position: relative;
        bottom: 0;
    }
}
